// Place all the styles related to the PostItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// post_items/index-----------------------------------------------------------
.post-btn {
  border-radius : 5%;
  font-size     : 15px;
  text-align    : center;
  cursor        : pointer;
  padding       : 5px 5px;
  background    : #03A9F4;
  color         : #ffffff;
  border        : 2px solid #03A9F4;
  width: 100px;
  margin: 20px 0 0 auto;
  a {
    color: #FFFFFF;
  }
}

.post-item-index {
  display: flex;
  padding-bottom: 50px;
  min-height: 505px;
  .genre-sidebar {
    background-color: gray;
    width: 160px;
    height: max-content;
    padding: 10px 0 0;
    text-align: center;
    border: 6px double black;
    margin: 35px 20px 0 0;
    a {
      display: block;
      color: #FFFFFF;
    }
    h3 {
      border-bottom: 2px solid black;
    }
  }
  .post-item-content {
    width: 1100px;
    .post-item {
      display: flex;
      flex-wrap: wrap;
      margin-left: 50px;
      img {
        border-radius: 2%;
        border: 1px solid black;
      }
      a {
        margin: 20px 30px 0 0;
        text-align: center;
      }
      h2 {
        margin: 100px auto;
      }
    }
  }
}

// post_items/show-----------------------------------------------------------
.post-item-show {
  display: flex;
  padding: 40px 40px 40px 100px;
  img {
    border-radius: 2%;
    border: 1px solid black;
  }
  .post-item-recommend {
    margin-left: 50px;
    a {
      margin-right: 30px;
    }
    .btn {
      display       : inline-block;
      border-radius : 5%;
      font-size     : 15px;
      text-align    : center;
      cursor        : pointer;
      padding       : 5px 5px;
      background    : #03A9F4;
      color         : #ffffff;
      border        : 2px solid #03A9F4;
      width: 100px;
    }
    .btn-danger {
      display       : inline-block;
      border-radius : 5%;
      font-size     : 15px;
      text-align    : center;
      cursor        : pointer;
      padding       : 5px 5px;
      background    : #ff7f7f;
      color         : #ffffff;
      border        : 2px solid #ff7f7f;
      width: 100px;
    }
    .post-item-icons {
      display: flex;
      margin-bottom: 20px;
    }
  }
}

.comment-title {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.post-comment {
  display: flex;
  margin-bottom: 30px;
  ol {
    width: 600px;
    word-wrap: break-word;
    list-style-type: none;
    li {
      border-bottom: solid 1px #000000;
      margin-bottom: 10px;
      .btn-danger {
        display       : inline-block;
        border-radius : 5%;
        font-size     : 10px;
        text-align    : center;
        cursor        : pointer;
        padding       : 5px 5px;
        background    : #ff7f7f;
        color         : #ffffff;
        border        : 2px solid #ff7f7f;
        width: 50px;
        margin-bottom: 5px;
      }
      img {
        border-radius: 50%;
        border: 1px solid black;
      }
    }
  }
  .comment-form {
    margin-left: 100px;
    textarea {
      float: left;
      width: 100%;
      max-width: 100%;
      border: none;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      background: darken(#f9f9f9, 10%);
      color: darken(#f9f9f9, 50%);
    }
    .btn {
      display       : inline-block;
      border-radius : 5%;
      font-size     : 15px;
      text-align    : center;
      cursor        : pointer;
      padding       : 5px 5px;
      background    : #03A9F4;
      color         : #ffffff;
      border        : 2px solid #03A9F4;
      width: 100px;
      margin: 20px;
    }
  }
}

// post_items/edit-----------------------------------------------------------
.post-item-edit {
  display: flex;
  padding: 40px 40px 40px 100px;
  img {
    border-radius: 2%;
    border: 1px solid black;
  }
  .post-item-edit-form {
    margin-left: 60px;
    #post_item_name, textarea, select {
      float: left;
      width: 100%;
      max-width: 100%;
      border: none;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      background: darken(#f9f9f9, 10%);
      color: darken(#f9f9f9, 50%);
    }
    select {
      width: 200px;
    }
    .save-btn {
      margin: 80px 0;
    }
    .btn {
      display       : inline-block;
      border-radius : 5%;
      font-size     : 15px;
      text-align    : center;
      cursor        : pointer;
      padding       : 5px 5px;
      background    : #03A9F4;
      color         : #ffffff;
      border        : 2px solid #03A9F4;
      width: 100px;
    }
  }
}

// post_items/new-----------------------------------------------------------
.post-item-new {
  display: flex;
  padding: 40px 40px 40px 100px;
  img {
    border-radius: 2%;
    border: 1px solid black;
  }
  .post-item-new-form {
    margin-left: 60px;
    #post_item_name, textarea, select {
      float: left;
      width: 100%;
      max-width: 100%;
      border: none;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      background: darken(#f9f9f9, 10%);
      color: darken(#f9f9f9, 50%);
    }
    select {
      width: 200px;
    }
    .btn {
      display       : inline-block;
      border-radius : 5%;
      font-size     : 15px;
      text-align    : center;
      cursor        : pointer;
      padding       : 5px 5px;
      background    : #03A9F4;
      color         : #ffffff;
      border        : 2px solid #03A9F4;
      width: 150px;
      margin: 20px 0;
    }
  }
}

.genre-form {
  margin: 30px;
  h2 {
    border-bottom: 1px solid black;
  }
  #genre_name {
    float: left;
    width: 200px;
    border: none;
    margin: 20px 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: darken(#f9f9f9, 10%);
    color: darken(#f9f9f9, 50%);
  }
    .btn {
    display       : inline-block;
    border-radius : 5%;
    font-size     : 15px;
    text-align    : center;
    cursor        : pointer;
    padding       : 5px 5px;
    background    : #03A9F4;
    color         : #ffffff;
    border        : 2px solid #03A9F4;
    width: 100px;
    margin: 20px ;
  }
}

// post_items/complete-----------------------------------------------------------
.complete {
  height: 400px;
  margin: 100px;
  text-align: center;
  .complete-image {
    background-image: image-url("complete.jpeg");
    height: 300px;
    width: 300px;
    background-size: 300px 300px;
    margin: 20px auto;
  }
}

// レスポンシブ対応-------------------------------------------------------

@media screen and (max-width:480px) {

  // /post_items/index---------------------
  .post-btn {
    font-size     : 20px;
    padding       : 5px 0px;
    margin: 30px auto;
    width: 90%;
  }

  .post-item-index {
    display: block;
    .genre-sidebar {
      width: 90%;
      margin: 35px auto 30px;
      a {
        border-bottom: 1px solid black;
        font-size: 20px;
      }
    }
    .post-item-content {
      width: 100%;
      h2 {
        text-align: center;
      }
      .post-item {
        margin: 0 auto;

        a {
          margin: 20px auto;

        }
      }
    }
  }

  // /post_items/show----------------
  .post-item-show {
    display: block;
    padding: 0px;
    width: 100%;
    text-align: center;
    img {
      margin: 20px 0;
      text-align: center;
      width: 100%;
    }
    .post-item-recommend {
      width: 100%;
      margin-left: 0px;
      a {
        margin-right: 0px;
      }
      .post-item-icons {
        display: block;
      }
    }
  }

  .comment-title {
    padding-left: 20px;
    margin-top: 20px;
  }

  .post-comment {
    display: block;
    ol {
      width: 90%;
      li {
        margin-left: 30px;
        }
    }
    .comment-form {
      margin-left: 0px;
      textarea {
        margin-left: 15px;
        width: 85%;
      }
    }
  }

  // /post_items/edit----------------
  .post-item-edit {
    display: block;
    padding: 40px 10px;
    text-align: center;
    img {
      margin: 10px 0;
      border-radius: 2%;
      border: 1px solid black;
      width: 100%;

    }
    .post-item-edit-form {
      margin-left: 0px;
      margin-top: 20px;
      #post_item_name, textarea, select {
        float: none;
        width: 90%;
      }
      .save-btn {
        margin: 40px auto;
      }
    }
  }

  // /post_items/new----------------
  .post-item-new {
    display: block;
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    .post-item-new-form {
      margin-left: 0px;
      margin-top: 20px;

      #post_item_name, textarea, select {
        width: 80%;
        float: none;
        display: flex;
        margin: 10px auto;
      }
    }
  }

  .genre-form {
    text-align: center;
    #genre_name {
      display: flex;
    }
  }

}